<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles2.css">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
        <nav class="navbar2">
            <ul>
                <div>
                    <a href="" id="menu-link"><img src="static/menu.png"></a>
                </div>
                <div>
                    <a href="" id="profile-link"><img src="static/profile.png"></a>
                </div>
                <div>
                    <a href="" id="settings-link"><img src="static/settings.png"></a>
                </div>
                <div>
                    <a href="/logout" id="logout-link"><img src="static/logout.png"></a>
                </div>
            </ul>
        </nav>
        <section id="box">
            <div>
                <a href="#" id="add-friend-link" style="color: #c35f49; font-family: monospace;text-decoration: none; font-size: large;">ADD FRIEND</a>
            </div>
            <br>
            <div>
                <form autocomplete="off" method="post">
                    <img src="static/add friend.png">
                    <input type="text" name="friend" id="textbox1" placeholder="username" style="background-color: black;color: #c35f49; border-radius: 20px; padding: 5px;">
                    <input type="submit" name="friendsubmit" style="color: black;background-color: #c35f49; border-radius: 20px;" placeholder="ADD">
                </form>
                <ul>
                    {% if error %}
                    <h3 style="color: aliceblue; font-family: monospace; text-align: center;">{{error}}</h3>
                    {% endif %}
                </ul>
            </div>

            <br>
            <br>
            <hr>
            <div style="padding-bottom: 10px;">
                <p id="direct-messages-link" style="color: #c35f49; font-family: monospace;text-decoration: none; font-size: large;">Direct messages</p>
                <ul style="padding: 5px; margin-bottom: 3px;">
                    {% for i in flist %}
                    <button  name="lol" onclick="reload('{{i}}')" id="send" style="color: #c35f49; text-decoration: none; background-color: transparent; outline: none; width: 100%; border: none;">
                        <div id="fbox">
                            <p style="color: #c35f49; text-decoration: none;"> <img src="static/person.png"> {{ i }} </p>
                        </div>
                    </button>
                    {% endfor %}
                </ul>
            </div>

            <div style="position: fixed; bottom: 14px; text-align: center; color: aliceblue;  background-color: #0d1117; border-radius: 10px; padding: 5px; width: 28.5%;">
                <p style="color: #c35f49; font-family: monospace; text-align: center;">Your logged in as: {{username}}</p>
            </div>
        </section>
        <article>
            <div>
                <a href="" id="message-link" style="color: #c35f49; font-family: monospace; text-decoration: none; font-size: large;">MESSAGE</a>
            </div>
            <br>
            <div>
                <ul id="activity"></ul>
            </div>
            <hr>
            <div class="messages" id="messages" style="margin-left: 3%;" >
                
            </div>

            <div style="position:fixed;bottom: 25px; text-align: center; float: right;padding: auto;">
                <form onsubmit="sendmsg(event)">
                    <input autocomplete="off"  type="text" id="textbox" placeholder="Send message....." style="background-color: black;color: #c35f49; border-radius: 20px; padding: 7px; width: 52vw; height: auto;">
                    <input type="submit" id="send_button" style="color: black;background-color: #c35f49;border-radius: 20px;">
                </form>    
            </div>
        </article>
    </body>
    <script>
        var socketio = io.connect("/room");
        socketio.on('disconnect')

        function reload(username){
            send(username);
        }

        function send(username){
                var un=username;
                socketio.emit('join_room',un);
            }

        const messages = document.getElementById('messages')
        
        const createmsg = (username1,msg) =>{
            const content = `
            <div>
                <span style="font-family: monospace; color: aliceblue; text-align: left;">
                    <p style="text-align: left; color: #c35f49;">${username1}:</p> <p style="text-align: left"> ${msg}</p>
                </span>
            </div>
            `;
            messages.innerHTML += content;
        };

        const sendmsg = (event) => {
            event.preventDefault();
            const message = document.getElementById('textbox')
            if (message.value =="") return;
            socketio.emit('sendmsg',message.value);
            message.value="";
        };

        const act = document.getElementById("activity")

        const activity = (username2,message2,online) =>{
            const status = `
            <div>
                <strong style="text-align:left; color: #32cd32; font-family: monospace;">${username2} is online.</strong>
            </div>
            `;
            act.innerHTML += status;
        }

        socketio.on('activity', (data) =>{
            activity(data.name,data.msg,data.online);
        })

        socketio.on('message', (data) => {
            createmsg(data.name,data.msg);
        });

        
        
    </script>
</html>
