<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <nav class="navbar">
        <ul>
            <div id="x">
                <a style="border-radius: 20px;" href="">Home</a>
            </div>
            <div id="y">
                <a  style="border-radius: 20px;" href="">Login</a>
            </div>
            <div id="y">
                <a style="border-radius: 20px;"href="">Register</a>
            </div>
        </ul>
    </nav>

    <main style="text-align: center;">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <h1 class="card-title">
                            LOGIN
                        </h1>
                        <p style="color: #b5bac1;">Username: </p>
                        <input type="text" name="Username" id="box">
                        <p style="color: #b5bac1;">Password: </p>
                        <input type="text" name="password" id="box">
                        <br>
                        <br>
                        <input type="submit" name="submit" id="submit">
                        <input type="reset" id="submit">
                        <br>
                        <br>
                        <a style="color:white; font-family: monospace;" href="register.html">Need an account.Register here</a>
                    </form>
                </div>
            </div>    
        </div>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <hr>
    <footer style="font-family: monospace;">
        Whisper &copy copyright reserved
    </footer>
</html>